# Node.js dependencies
node_modules/

# Log files
*.log

# Environment variables
.env

# IDE configurations
.vscode/
.idea/

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.old

# EJS cache
views/.cache/

database.sqlite

uploads/