<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body class="index-body">
    <img class="index-imagen" src="/assets/imagenes/lps.svg" alt="Logo o imagen principal">
    <h1 class="index-titulo">Bienvenido</h1>
    <div class="auth-links">
        <a href="/login">Iniciar sesión</a>
        <a href="/register">Registrarse</a>
    </div>
</body>

</html>